.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
  padding: 0 20px;
}

.book-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.book-card-container:hover {
  transform: translateY(-5px);
}

.book-card-container:focus-visible {
  outline: 3px solid #ff7b00;
  outline-offset: 4px;
  transform: translateY(-5px);
}

.book-card {
  background-color: rgb(26, 26, 26);
  border-radius: 20px;
  backdrop-filter: blur(2px);
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  border-left: 2px solid rgba(128, 128, 128, 0.2);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.4);
  padding: 24px;
  color: white;
  width: 260px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  z-index: 5;
}

.book-card-accent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: gray;
}

.book-card-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}

.book-card-title {
  font-size: 0.9rem;
  margin-bottom: 16px;
  font-weight: 500;
  color: rgb(122, 122, 122);
}

.book-card-description {
  font-size: 0.9rem;
  line-height: 1.4;
  color: rgb(122, 122, 122);
  margin-bottom: 0;
}

.book-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  background: rgba(44, 44, 44, 0.05);
  margin-top: 16px;
}

.book-card-footer span {
  font-size: 0.8rem;
  color: rgb(122, 122, 122);
}

.book-card-button {
  background-color: rgba(60, 60, 60, 1);
  border: 2px solid rgb(60, 60, 60);
  border-radius: 8px;
  padding: 8px 0;
  width: 110px;
  color: rgb(248, 248, 248);
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled-button {
  background-color: rgb(40, 40, 40);
  color: rgb(100, 100, 100);
  opacity: 0.9;
  cursor: not-allowed;
  user-select: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: rgba(44, 44, 44, 1);
  padding: 15px;
  min-width: 340px;
  position: relative;
  border-radius: 20px;
}
